/* ONLY CHECKOUT PAGE CSS */

/* nav css */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  position: relative; /* Added for centering the logo */
}

nav > .arrow-back {
  display: flex;
  align-items: center;
}

nav > .arrow-back > a {
  color: white;
}

nav > .logo {
  position: absolute; /* Position the logo absolutely */
  left: 50%; /* Move the logo to the center */
  transform: translateX(-50%); /* Adjust for exact centering */
}

nav > .logo > a {
  text-decoration: none;
  color: white;
}

/* main css */

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.check-out {
  margin-top: 3rem;
}

.check-out > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-out > h4 {
  margin-top: 5rem;
}

/* background */
.order-content {
  padding: 2rem;
  height: fit-content;
  width: fit-content;
  background-color: #d4d8dd;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* first section */

.image-content {
  display: flex;
}

.image-content > .image-content-details > img {
  width: 20%;
  height: auto;
}

.image-content-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: fit-content;
}

.content-details {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  align-items: flex-start;
}

.detail-options {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

#size {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

#amount {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

hr {
  margin-top: 1rem;
  border-top: 1px solid red;
}

/* second section */

.discount-code,
.gift-card,
.delivery-fee,
.total-amount {
  padding-top: 15px;
}

/* discout code and gift card*/

.form-group {
  padding-top: 15px;
}

.input-group {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.input-text {
  padding: 5px;
  font-size: 1rem;
}

.button {
  padding: 5px;
  font-size: 1.2rem;
  background-color: blue;
  color: white;
  border: none;
}

/* delivery fee */

.delivery-fee {
  display: flex;
  justify-content: space-between;
}
