/* ONLY FOOTER CSS */

.footer {
  background-color: rgb(103, 102, 102);
  color: white;
}

.footer-container {
  height: fit-content;
  padding: 2rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.about-us {
  max-width: 300px;
}

.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding-top: 5px;
}

.social-links > li > a {
  color: white;
}

.contact-us {
  max-width: 300px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding-top: 5px;
}

/* footer bottom */
/*
.footer-bottom-container {
  height: fit-content;
  padding: 2rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.footer-bottom-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  list-style: none;
  gap: 5rem;
}
*/  