/* ONLY CSS FOR THE WHOLE WEBSITE */

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  height: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



