/* ONLY CSS FOR THE WHOLE WEBSITE */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  height: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body, html {
  overflow-x: hidden;
}