h1 {
    color: #28a745;
  }
  .total-amount {
    font-size: 20px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
  }

  .confirmation {
    font-size: 20px;
  }

  .email-confirmation {
    margin-top: 1rem;
    font-size: 20px;

  }

  
/* Background */
.order-content {
  padding: 2rem;
  width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

  @media screen and (max-width: 320px) {
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 0.7rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 80px;
    }
  }
  
  @media screen and (min-width:321px) and (max-width: 376px) {
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 0.7rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 80px;
    }
  }
  
  
  @media screen and (min-width:377px) and (max-width:426px) {
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 0.7rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 80px;
    }
  }
  
  @media screen and (min-width:427px) and (max-width:600px){
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 0.7rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 80px;
    }
  }
  
  @media screen and (min-width:601px) and (max-width:768px) {
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 1rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 150px;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:912px){
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 1rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 200px;
    }
  }
  
  @media screen and (min-width:913px) {
    nav {
      justify-content: space-between;
    }
  
    nav > .arrow-back {
      width: fit-content;
      font-size: 1rem;
      order: 1; /* Move "Continue Shopping" to the left */
    }
  
    nav > .logo {
      order: 2; /* Move logo to the right */
      margin-left: 0; /* Remove any previous margin */
    }
  
    .logo img {
      width: 200px;
    }
  }